body {
    
    background-color: #4d4d4d;
    background-image: url("../images/black-orchid.png");
    
    }
    .container {
        
        text-align: center;
        width: 100%;
        margin: 0 auto;
    
    }
    
    header {
        background-color: #888;
        text-align: center;
        width: 92%;
        height: 20%;
        margin: 0 auto;
        border-radius: 1.5px;
        padding: 1%;
        letter-spacing: -1px;
        background-image: url("../images/broken-noise.png");
    
    }
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Oswald', sans-serif;
    
    */
    
    h1 {
        line-height: 8%;
        font-family: 'Oswald', sans-serif;
        font-size: 100px;
        color: #3b2d2c;
        text-transform: uppercase;
        text-shadow: .5px .5px #999;
    }
    
    h3 {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: 42px;
        color: #3b2d2c;
        text-shadow: .5px .5px ##B0ACA8;
    }
    
    .playingArea {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #888;
        text-align: center;
        width: 92%;
        height: 400px;
        border-radius: 1.5px;
        padding: 1%;
        background-image: url("../images/broken-noise.png");
        color: #3B2D2C;
        text-shadow: .3px .3px #D9D8D4;
        
    }
    
    .hiddenWord {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #8F8C88;
        border-radius: 4px;
        padding: 1.5%;
        width: 95%;
        height: 40%;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 75px;
        letter-spacing: 3px;
    }
    
    
    
    .scoreBoard {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 2.5px;
        padding: 1.5%;
        height: 40%;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        text-align: left;
        
    }
    
    p {
        line-height: normal;
        font-size: 32px;
        font-weight: 100;
        color: #B0ACA8;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        
    }
    
    #pLettersMissed {
        color: #B0ACA8;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 100;
        font-size: 36px;
        position: relative;
        bottom: 50px;
        
        }
    
    #pHiddenWord {
        position: relative;
        bottom: 60px;
        
    }
    #pRemainingGuesses{
        position: relative;
        float:right;
        margin-right:35px;
        bottom: 50px;
        color: #B0ACA8;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        
    }
    
    
    #pWins{
        position: relative;
        bottom: 60px;
        color: #B0ACA8;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        
    }
    
    #pLosses {
        position: relative;
        bottom: 100px;
        color: #B0ACA8;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        
    }
    